



/*  navbar style */
nav{
     max-width: 1440px;
     margin: 0;
}
#menu-icon{
    display: none; 
}
.nav-bar{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 40px;
     
}

.logu{
     display: flex;
     align-items: center;
}
.heading{
  font-weight: bold;
  font-size: 2rem;
  
}
ul,li{
     display: flex;
     gap: 50px;
}
a{
     text-decoration: none;
     font-weight: 500;
     font-size: 1.2rem;
}
.home{
     color: brown;
}
.About{
     color: blue;
}
.Facilities{
     color: chartreuse;
}
.Admission{
     color: darkorange;
}
.button-primary{
     background-color: coral;
     color: white;
     padding: 5px 30px;
     font-size: 1.5rem;
     font-weight: 500;
     border-radius: 15px; 
     border: none;    
}
/* banner style   */

.banner-section{
     display:flex;
     align-items: center;
    
     
}
.banner{
     align-items: center;
     gap: 25px;
}
.banner-title{
     font-size: 1.5rem;
     font-weight: bold;
}
.banner-heading{
     color: #FF900E;
}
.banner-heading2{
     color: blue;
}
/* caird styles   */
main{
     background-image: url(../assets/bg.png);
     width: 100%;
}
.container{
     display: flex;
     gap: 20px;
     align-items: center;
     
}
.school{
     width: 350px;
     height: 450px;
     border: 1px solid #FF900E;
     border-radius: 10px;
     text-align: center;
     background-color: rgb(222, 245, 255, 1);
}
.school-img{
     width: 50%;
}

/* responsive media query and mobile  */

@media screen and (max-width: 576px){
     #menu-icon{
          display: block;
          text-align:right;
          padding: 0;
     }
     .hidden{
          display: none;
     }
     .banner-section{
         display: grid;
         grid-template-areas: ;
     }
     .container{
         justify-content: space-around;
     }
}
